<form class="" action="/<%= @group.id %>" method="post">
  Group:<br>
  <input type="text" name="group_letter" placeholder="Group...." value="<%= @group.group_letter %>">
  <br><br>
  Team 1:<br>
  <input type="text" name="team_1" placeholder="Team 1" value="<%= @group.team_1 %>">
  <br><br>
  Team 2:<br>
  <input type="text" name="team_2" placeholder="Team 2" value="<%= @group.team_2 %>">
  <br><br>
  Team 3:<br>
  <input type="text" name="team_3" placeholder="Team 3" value="<%= @group.team_3 %>">
  <br><br>
  Team 4:<br>
  <input type="text" name="team_4" placeholder="Team 4" value="<%= @group.team_4 %>">
  <br><br>
  <input type="submit" name="" value="Submit">

  <% if(@group.id) %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
